Lesson03/solution/employee/employees.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified">

    <xs:element name="code">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[A-Z]\d{3}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="degree">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="level" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="code"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="town" type="xs:string"/>
                <xs:element ref="degree" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="employee" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
